* {
  text-align: center;
  background-color: rgb(73, 71, 71);
  color: white;
}
input {
  background-color: white;
  color: black;
  padding: 8px;
  border-radius: 5px;
}
footer {
  margin-top: 20px;
}
li {
  list-style: none;
}
